.radio .toggle,
.radio .mute {
    appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    user-select: none;
    text-decoration: none;
}

.radio .toggle:focus,
.radio .mute:focus,
.radio .toggle:hover,
.radio .mute:hover {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.radio {
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.radio.active {
    width: 265px;
}

.radio audio {
    background-color: transparent;
}

.radio audio::-webkit-media-controls-panel {
    background-color: transparent;
}

.radio audio.inactive {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.radio .toggle {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22357%22%20height%3D%22357%22%20viewBox%3D%220%200%20357%20357%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M38.25%200v357l280.5-178.5%22%2F%3E%3C%2Fsvg%3E");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
}

.radio .toggle.playing {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22357%22%20height%3D%22357%22%20viewBox%3D%220%200%20357%20357%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M25.5%20357h102V0h-102v357zm204-357v357h102V0h-102z%22%2F%3E%3C%2Fsvg%3E");
}

.radio .time {
    color: #fff;
    font: 100 0.8rem/1 sans-serif;
    margin: 0 10px;
}

.radio .mute {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22459%22%20height%3D%22459%22%20viewBox%3D%220%200%20459%20459%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%20153v153h102l127.5%20127.5v-408L102%20153H0zm344.25%2076.5c0-45.9-25.5-84.15-63.75-102v204c38.25-17.85%2063.75-56.1%2063.75-102zM280.5%205.1v53.55C354.45%2081.6%20408%20147.9%20408%20229.5s-53.55%20147.9-127.5%20170.85v53.55C382.5%20430.95%20459%20339.15%20459%20229.5S382.5%2028.05%20280.5%205.1z%22%2F%3E%3C%2Fsvg%3E%0A");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    margin: 0 10px;
    transition: all 0.3s ease-in;
    width: 30px;
}

.radio .mute.muted {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22461.55%22%20height%3D%22461.55%22%20viewBox%3D%220%200%20461.55%20461.55%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M345.525%20229.5c0-45.9-25.5-84.15-63.75-102v56.1l63.75%2063.75V229.5zm63.75%200c0%2022.95-5.1%2045.9-12.75%2066.3l38.25%2038.25c17.85-30.6%2025.5-68.85%2025.5-107.1%200-109.65-76.5-201.45-178.5-224.4V56.1c73.95%2025.5%20127.5%2091.8%20127.5%20173.4zM34.425%200L1.275%2033.15%20121.125%20153H1.275v153h102l127.5%20127.5V262.65l109.65%20109.65c-17.85%2012.75-35.7%2022.95-58.65%2030.6v53.55c35.7-7.65%2066.3-22.95%2094.35-45.9l51%2051%2033.15-33.148-229.5-229.5L34.425%200zm196.35%2025.5l-53.55%2053.55%2053.55%2053.55V25.5z%22%2F%3E%3C%2Fsvg%3E%0A");
}

.radio .mute.hidden {
    opacity: 0;
    visibility: hidden;
}

.radio input[type="range"] {
    appearance: none;
    height: 14px;
    margin: 0;
    width: 100px;
    background: transparent;
    transition: all 0.3s ease-in;
}

.radio input[type="range"][disabled] {
    cursor: default;
}

.radio input[type="range"].hidden {
    opacity: 0;
    visibility: hidden;
}

.radio input[type="range"].volume {
    width: 60px;
}

.radio input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.radio input[type="range"]:focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]::-webkit-slider-thumb {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 14px;
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(0);
    width: 14px;
}

.radio input[type="range"]::-moz-range-thumb {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 14px;
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(0);
    width: 14px;
}

.radio input[type="range"]::-ms-thumb {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 14px;
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(0);
    width: 14px;
}

.radio input[type="range"]::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]:focus::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]::-moz-range-track {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]::-ms-track {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]::-ms-fill-lower {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]:focus::-ms-fill-lower {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]::-ms-fill-upper {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}

.radio input[type="range"]:focus::-ms-fill-upper {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    height: 1px;
    border: none;
    box-shadow: none;
    outline: 0;
}